{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="row">
    {% if image%}
    <h3 class="text-center">Found {{ image|length }} images on {{message}}</h3>
    <div class="container">
        <hr />
    </div>
    {% else %}
    <h2>Nothing for you here, kindly search again</h2>
    {% endif %}

</div>
<div class="container">
    {% for img in image%}
    <div class="col-md-3">
        <a href="#{{img.id}}" data-toggle="modal" data-target="#{{img.id}}">
            <img src="{{img.image.url}}" class="img-responsive" alt="{{image.name}}" style="width:100%;width:100%">
            <h5 class="text-center">{{img.image_name}}</h5>
        </a>
        <div class="modal fade" id="{{img.id}}" role="dialog">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{img.image_name}}</h4>
                        <img src="{{img.image.url}}" class="img-responsive" alt="Image"
                            style="width:100%;max-width:100%">
                    </div>
                    <div class="modal-body">
                        <p class="text-justify">{{img.description}}</p>
                        <p class="text-left"><b>Location:</b> {{img.location}}</p>
                        <p class="text-left"><b>Category:</b> {{img.category}}</p>
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1">
                        <input id="{{img.id}}-url" class="form-control input-md responsive" type="text"
                            value="{{img.image.url}}">
                    </div>
                    <button type="button" onclick="copyToClipboard();">Copy</button>

                    <script>
                        function copyToClipboard() {
                            var copyText = document.getElementById("{{img.id}}-url");
                            copyText.select();
                            copyText.setSelectionRange(0, 99999)
                            document.execCommand("copy");
                            alert('url copied');
                        }
                    </script>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}